
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>打印消费签字单</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/PrintReportCss.css" rel="stylesheet" />
</head>
<body>
    <div> 
        @*打印签字确认单*@
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <div>

                    <div class="text-center">
                        <h3>狱内自助购物消费签字确定单</h3>
                    </div>
                    <table class="table table-striped table-condensed contentFontSize">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>编号</th>
                                <th>姓名</th>
                                <th>队别</th>
                                <th>日期</th>
                                <th>消费类型</th>
                                <th>消费金额</th>
                                <th>用户签名</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewData["phds"] != null)
                            {
                                decimal sumMoney = 0;
                                int i = 1;
                                foreach (SelfhelpOrderMgr.Model.T_JF_Invoice item in ViewData["phds"] as List<SelfhelpOrderMgr.Model.T_JF_Invoice>)
                                {

                                    <tr>
                                        <td>@i</td>
                                        <td>@item.FCrimeCode</td>
                                        <td>@item.FCriminal</td>
                                        <td>@item.FAreaName</td>
                                        <td>@item.OrderDate</td>
                                        <td>@item.PType</td>
                                        <td>@item.Amount</td>
                                        <td></td>
                                    </tr>
                                    sumMoney = sumMoney + item.Amount;
                                    i++;
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@sumMoney</td>
                                    <td></td>
                                </tr>
                                

                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>
     
       

    </div>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
