
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>财务付款</title>
    @{Html.RenderPartial("~/Views/Shared/_PartialHeadPage.cshtml");}
</head>
<body class="easyui-layout">
    <div>
        <form method="post">
            <table id="crimeSearch">
                <tr>
                    <th align="right">单号：</th>
                    <td align="left">
                        <input id="FPayId" name="FPayId" class="easyui-validatebox" style="width:205px;" data-options="required:true,validType:'text'" />
                    </td>
                </tr>
                <tr>
                    <th align="right">摘要：</th>
                    <td align="left">
                        <input id="FPayTitle" name="FPayTitle" class="easyui-validatebox" style="width:205px;" data-options="required:true,validType:'text'" />
                    </td>
                </tr>
                <tr>
                    <th align="right">日期：</th>
                    <td align="left">
                        <input id="startDate" name="startDate" class="easyui-datetimebox" data-options="required:true,showSeconds:false" value="3/4/2010 00:00" style="width:205px">
                    </td>
                </tr>
                <tr>
                    <th align="right">至:</th>
                    <td align="left">
                        <input id="endDate" name="endDate" class="easyui-datetimebox" data-options="required:true,showSeconds:false" value="3/4/2010 23:59" style="width:205px">
                    </td>
                </tr>
                <tr>
                    <th align="right">备注：</th>
                    <td align="left">
                        <input id="FPayRemark" name="FPayRemark" style="width:205px;" />
                    </td>
                </tr>
                <tr>
                    <th align="right"></th>
                    <td align="right"><a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="btnGetPaies()">查询</a><a id="A1" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-redo'" onclick="    clearSearch()">清空</a></td>
                </tr>
            </table>
        </form>
    </div>



    <div data-options="region:'center',title:'付款单列表:'" style="height:100px;padding:5px;background:#eee;">

        <table id="test"></table>
    </div>

    <div data-options="region:'north',title:'未付/应付记录',split:true" style="height:250px;">
        <div>
            <form id="ffExcel" method="post">
                <input type="hidden" id="action" name="action" />
                <input type="hidden" id="FBidExcel" name="FBidExcel" />
            </form>

        </div>
        <table id="mainOrderTable" class="easyui-datagrid" data-options="toolbar:'#tbMain'"></table>
    </div>

    <div data-options="region:'east',title:'查询条件',split:true" style="width:300px;">
        <div data-options="region:'north',title:'North Title',split:true">
            <form method="post" style="padding-top:10px;">
                <table id="crimeSearch">


                    <tr>
                        <th align="right">开始日期：</th>
                        <td align="left">
                            <input class="easyui-datetimebox" id="rjStartDate" name="CrtDt_Start"
                                   data-options="required:false,showSeconds:false" value="3/4/2010 00:00" style="width:190px">
                        </td>
                    </tr>
                    <tr>
                        <th align="right">结束日期：</th>
                        <td align="left">
                            <input class="easyui-datetimebox" id="rjEndDate" name="CrtDt_End"
                                   data-options="required:false,showSeconds:false" value="3/4/2010 23:59" style="width:190px">
                        </td>
                    </tr>

                    <tr>
                        <th align="right">付款类型：</th>
                        <td align="left">
                            <select id="FAreaName" name="FType" class="easyui-combobox" style="width:190px;">
                                <option value="" selected="selected">请选择类型</option>
                                @if (ViewData["payTypes"] != null)
                                {
                                    foreach (SelfhelpOrderMgr.Model.T_CommonTypeTab typetab in ViewData["payTypes"] as List<SelfhelpOrderMgr.Model.T_CommonTypeTab>)
                                    {
                                        <option value="@typetab.FName">@typetab.FName</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th align="right">操作员：</th>
                        <td align="left">
                            <select id="FCrtBy" name="CrtBy" class="easyui-combobox" style="width:190px;">
                                <option value="" selected="selected">请选择</option>
                                @if (ViewData["crtbys"] != null)
                                {
                                    foreach (string crtby in ViewData["crtbys"] as List<string>)
                                    {
                                        <option value="@crtby">@crtby</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th align="right">备注：</th>
                        <td align="left">
                            <input id="FDesc" name="Remark" class="easyui-textbox" style="width:190px">
                        </td>
                    </tr>
                    <tr>
                        <th align="right"></th>
                        <td align="right"><a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="btnSearch()">查询</a><a id="A1" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-redo'" onclick="btnClear()">清空</a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>



    <div id="tbMain">
        <form id="ffMainOrder" method="post">
            <table id="crimeSearch">
                <tr>
                    <th align="right">扣款类型：</th>
                    <td align="left">
                        <input type="hidden" id="sbid" /><!--主单的Bid-->
                        <input type="hidden" id="sOrderStatus" /><!--主单的确认状态-->
                        <input type="hidden" id="sYearMonth" /><!--主单的归属年月-->
                        <input type="hidden" id="sMainRemark" /><!--主单的备注信息-->
                        <input type="hidden" id="MainAction" name="action" />
                        <input type="hidden" id="MainDoType" name="DoType" />
                        <input type="hidden" id="sAreaName" name="sAreaName" />
                        <input type="hidden" id="sAreaCode" name="sAreaCode" />
                        <select id="payKemu" name="payKemu" class="easyui-combobox" style="width: 115px;">
                            @*<option value="0" selected="selected">请选付款科目</option>
                                @if (ViewData["payTypes"] != null)
                                {
                                    foreach (SelfhelpOrderMgr.Model.T_CommonTypeTab savetype in ViewData["payTypes"] as List<SelfhelpOrderMgr.Model.T_CommonTypeTab>)
                                    {
                                        <option value="@savetype.FCode">@savetype.FName</option>
                                    }
                                }*@
                        </select>
                    <th align="right">队别：</th>
                    <td>
                        <select id="mainAreaName" name="mainAreaName" class="easyui-combobox" style="width: 135px;">
                            @*<option value="0" selected="selected">请选择队别</option>
                                @if (ViewData["areas"] != null)
                                {
                                    foreach (SelfhelpOrderMgr.Model.T_AREA area in ViewData["areas"] as List<SelfhelpOrderMgr.Model.T_AREA>)
                                    {
                                        <option value="@area.FCode">@area.FName</option>
                                    }
                                }*@
                        </select>
                    </td>



                    <th>编号:</th>
                    <td><input id="vcrd_FCrimeCode" name="vcrd_FCrimeCode" type="text" style="width:100px"></td>
                    <th>姓名:</th>
                    <td><input id="vcrd_FCrimeName" name="vcrd_FCrimeName" type="text" style="width:100px"></td>
                    <th>备注:</th>
                    <td colspan="2"><input id="sremark" name="sremark" type="text" style="width:150px"></td>
                </tr>
                <tr>
                    <th align="right">记录状态：</th>
                    <td>
                        <select id="rtnMoneyFlag" name="rtnMoneyFlag" class="easyui-combobox" style="width: 115px;">
                            <option value="" selected="selected">==请选择==</option>
                            <option value="2">已回款</option>
                            <option value="1">未回款</option>
                        </select>
                    </td>
                    <th>日期</th>
                    <td>
                        <input id="vcrd_startDate" name="vcrd_startDate" class="easyui-datetimebox"
                               data-options="required:true,showSeconds:false" value="3/4/2010 00:00" style="width:130px;">
                    </td>
                    <th>至</th>
                    <td>
                        <input id="vcrd_endDate" name="vcrd_endDate" class="easyui-datetimebox"
                               data-options="required:true,showSeconds:false" value="3/4/2010 23:59" style="width:100px;">
                    </td>
                    <th colspan="2">汇总金额:<label id="txtAllMoney">0.00</label>元</th>
                    <td colspan="3">
                        <a id="btnVcrdSearch" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:'true'" onclick=" btnGetVcrds()">查询未付记录</a>|
                        <a id="btnSavePayOrder" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:'true'" onclick="VcrdExcelOut()">Excel导出</a>|
                        <a id="btnCreatePayOrder" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:'true'" onclick="btnCreatePayOrder()">创建付款单|</a>
                    </td>

                </tr>
            </table>
        </form>


    </div>

    <div id="win" class="easyui-window" title="新建付款单" style="width:400px;height:300px"
         data-options="iconCls:'icon-save',modal:true,collapsible:false,maximizable:false,minimizable:false">
        <div>
            <table>
                <tr>
                    <th>付款类型</th>
                    <td><input type="text" id="payType" style="width:300px;" disabled="disabled" /></td>
                </tr>
                <tr>
                    <th>付款金额</th>
                    <td><input type="text" id="payMoney" style="width:300px;" disabled="disabled" /></td>
                </tr>
                <tr>
                    <th>付款摘要</th>
                    <td><input type="text" id="payTitle" style="width:300px;" /></td>
                </tr>
                <tr>
                    <th>收款人名称</th>
                    <td><input type="text" id="payPosName" style="width:300px;" /></td>
                </tr>
                <tr>
                    <th>收款账号</th>
                    <td><input type="text" id="payBankCard" style="width:300px;" /></td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td><input type="text" id="payRemark" style="width:300px;" /></td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <a id="btnSavePay" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="btnSavePayOrder()">确认</a>
                        <a id="btnCancelPay" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="btnCancelSave()">取消</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="~/Scripts/myJs/commonJs.js"></script>
    <script src="~/Scripts/myJs/FinancePay.js"></script>
</body>

</html>
