
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>银行代收付清单</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/buttons.css" rel="stylesheet" />
    
</head>
<body>
    <div>
        <input type="hidden" id="printId" value="@ViewData["id"]" />
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="page-header text-center">
                    <h1> @ViewData["title"] <small>报表日期: @DateTime.Today.ToShortDateString()</small></h1>
                    <div class="row">
                        <div class="col-sm-7 text-left">统计日期: @ViewData["startTime"] ~ @ViewData["endTime"]</div>
                        <div class="col-sm-5 text-right"></div>
                    </div>
                </div>

                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>提示!</strong><span id="tootipInfo"> 数据较大正在加载中,请耐心等候...</span>
                </div>
                

                @if (ViewData["id"] != null)
{
    int id = Convert.ToInt32(ViewData["id"]);
    switch (id)
    {
        case 1:
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>主单号</th>
                            <th>编号</th>
                            <th>姓名</th>
                            <th>银行卡号</th>
                            <th>金额</th>
                            <th>标志</th>
                            <th>代收日期</th>
                            <th>摘要</th>                            
                        </tr>
                    </thead>

                    @if (ViewData["vcrds"] != null)
                    {
                        int i = 0;
                        decimal sumMoney = 0;
                        <tbody>
                            @foreach (SelfhelpOrderMgr.Model.t_bank_RcvList vcrd in ViewData["vcrds"] as List<SelfhelpOrderMgr.Model.t_bank_RcvList>)
                            {
                                i++;
                                
                                <tr>
                                    <td>@i</td>
                                    <td>@vcrd.AccNo</td>
                                    <td>@vcrd.FCrimeCode</td>
                                    <td>@vcrd.FName</td>
                                    <td>@vcrd.BankAccNo</td>
                                    <td>@vcrd.Amount</td>
                                    <td>@vcrd.SuccFlag</td>
                                    <td>@vcrd.RcvDate.ToShortDateString()</td>
                                    <td>@vcrd.Remark</td>
                                </tr>
                                sumMoney = sumMoney + vcrd.Amount;
                                
                            }
                            <tr><td colspan="7">共计:</td><td>@i 条</td><td>@sumMoney</td></tr>
                        </tbody>
                    }

                </table>
                    
            } break;
        case 2:
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>主单号</th>
                            <th>编号</th>
                            <th>姓名</th>
                            <th>银行卡号</th>
                            <th>金额</th>
                            <th>标志</th>
                            <th>代付日期</th>
                            <th>摘要</th>                            
                        </tr>
                    </thead>

                    @if (ViewData["vcrds"] != null)
                    {
                        int i = 0;
                        decimal sumMoney = 0;
                        <tbody>
                            @foreach (SelfhelpOrderMgr.Model.t_bank_PayList vcrd in ViewData["vcrds"] as List<SelfhelpOrderMgr.Model.t_bank_PayList>)
                            {
                                i++;
                                
                                <tr>
                                    <td>@i</td>
                                    <td>@vcrd.AccNo</td>
                                    <td>@vcrd.FCrimeCode</td>
                                    <td>@vcrd.FName</td>
                                    <td>@vcrd.BankAccNo</td>
                                    <td>@vcrd.Amount</td>
                                    <td>@vcrd.SuccFlag</td>
                                    <td>@vcrd.PayDate.ToShortDateString()</td>
                                    <td>@vcrd.Remark</td>
                                </tr>
                                sumMoney = sumMoney + vcrd.Amount;
                                
                            }
                            <tr><td colspan="7">共计:</td><td>@i 条</td><td>@sumMoney</td></tr>
                        </tbody>
                    }

                </table>
                    
            } break;
        
        default:
            break;

    }
}
                <table></table>
            </div>
            <div class="col-sm-1"></div>
            
        </div>
    </div>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/myJs/commonJs.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#tootipInfo").html('恭喜你,数据加载完成了。对明细记录超过3000条的记录将不再显示，请增加查询条件!');
        });
        
    </script>
</body>
</html>
