
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintOutPrisonReport</title>    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <br /><br />
                <h2 class="text-center">结算证明</h2>
                
                
            @if (ViewData["prove"]!=null)
            {
                SelfhelpOrderMgr.Model.t_BankProve prove = ViewData["prove"] as SelfhelpOrderMgr.Model.t_BankProve;
                
                <p>
                    <strong>中国银行:</strong><br/>　　兹证明 <strong><u> 　@prove.fname 　</u></strong>,于<strong>
                        <u>　 @prove.foudate.ToShortDateString()　 </u>
                    </strong>
                    已经办理出狱手续。
                    开户档案号:<strong>
                        <u>　 @prove.fcode 　</u>
                    </strong>,银行卡号:<strong>
    <u>　 @prove.BankCode 　</u>
</strong>，现凭（身份证件）:<u><strong> 释放证明书 </strong></u>或二代身份证，号码是：<u><strong>　 @prove.FIdenNo　 </strong></u>
                    请给予办理销户结算或是补换卡手续。<br />
                    <strong>　　特此证明!</strong>
                </p>
                <table>
                    <tr style="height:20px;">
                        <td style="width:600px;"></td>
                        <td style="width: 300px; font-size: 16px">福建省武夷山监狱生卫科</td>
                        <td style="width:200px;"></td>
                    </tr>
                    <tr style="height:20px;">
                        <td style="width:600px;"></td>
                        <td style="width:300px;font-size:16px">@prove.foudate.ToString("yyyy年MM月dd日")</td>
                        <td style="width:200px;">(第一联 凭证)</td>
                    </tr>
                    
                </table>
            }
                
                <br /><br /><br />
   

                
                
                <hr />
                
                <br /><br />
                <h2 class="text-center">结算凭证</h2>
                
                @if (ViewData["prove"] != null)
{
    SelfhelpOrderMgr.Model.t_BankProve prove = ViewData["prove"] as SelfhelpOrderMgr.Model.t_BankProve;

    <p>
        <strong>中国银行:</strong><br />　　兹证明 <strong><u> 　@prove.fname 　</u></strong>,于<strong>
            <u>　 @prove.foudate.ToShortDateString()　 </u>
        </strong>
        已经办理出狱手续。
        开户档案号:<strong>
            <u>　 @prove.fcode 　</u>
        </strong>,银行卡号:<strong>
            <u>　 @prove.BankCode 　</u>
        </strong>，现凭（身份证件）:<u><strong> 释放证明书 </strong></u>或二代身份证，号码是：<u><strong> @prove.FIdenNo　 </strong></u>
        请给予办理销户结算或是补换卡手续。<br />
        <strong>　　特此证明!</strong>
    </p>
    <table>
        <tr style="height:20px;">
            <td style="width:600px;"></td>
            <td style="width: 300px; font-size: 16px">福建省武夷山监狱生卫科</td>
            <td style="width:200px;"></td>
        </tr>
        <tr style="height:20px;">
            <td style="width:600px;"></td>
            <td style="width:300px;font-size:16px">@prove.foudate.ToString("yyyy年MM月dd日")</td>
            <td style="width:200px;">(第二联 存档)</td>
        </tr>

    </table>
}

                <br /><br /><br />

                <div>
                
                
  
                <hr /><br />

                <div>
                    <h2 class="text-center">消费一卡通结算凭证</h2>
                    <h4 class="text-center">@DateTime.Today.ToString("yyyy年MM月dd日")</h4>

                    @if (ViewData["prove"] != null)
                    {
                        SelfhelpOrderMgr.Model.t_BankProve prove = ViewData["prove"] as SelfhelpOrderMgr.Model.t_BankProve;
                        <table class="table table-bordered">
                        <tr>
                            <td>狱政编号:</td>
                            <th>@prove.fcode</th>
                            <td>服刑人员姓名:</td>
                            <th colspan="2">@prove.fname</th>
                        </tr>

                        <tr>
                            <th colspan="5">备注:该服刑人员一卡通已结算清，银行销户证明已领走并收回IC卡</th>
                        </tr>
                    </table>
                    }
                    
                    <table>
                        <tr><td style="width:500px;">经办单位：</td><td>经办人：</td></tr>
                    </table>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div> 
            <br />
    </div>
    </div>
    @*<script src="~/Content/JS/jquery-1.12.4.min.js"></script>
    <script src="~/Content/JS/bootstrap.min.js"></script>
    <script src="~/Content/JS/myJs/commonJs.js"></script>*@

    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/myJs/commonJs.js"></script>

    <script type="text/javascript">
        $(function () {
            var jsmoney = $("#jsMoney").val();
            $("#jsMoney1").html("人民币:" + DX(jsmoney) + "");
            $("#jsMoney2").html("人民币:" + DX(jsmoney) + "");

        });
    </script>
</body>
</html>
