@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="~/Content/buttons.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <h1>你好，世界！</h1>
    <div>
        <div style=" width: 800px; text-align:right;">
            <a class="btn btn-default" href="#" role="button" onclick="btnAddOrder('3501011508')">新增订单</a>
            <input type="text" id="orderNumber" />
            <a class="btn btn-default" href="#" role="button" onclick="btnMyOrder()">我的订单</a>
            <span id="orderMoney" class="label label-warning" style=" width:100px;">0.00</span>
        </div>
        <div style="text-align:right; ">
            你好，张三疯 <span class="label label-default">普管</span>
        </div>
    </div>
    
    <div>
        <ul id="myTab" class="nav nav-tabs">

         @if (ViewData["types"] != null)
{
             //int i=1;
    foreach (SelfhelpOrderMgr.Model.T_GoodsType type in ViewData["types"] as List<SelfhelpOrderMgr.Model.T_GoodsType>)
    {
        <li class=""><a href="#@type.Fcode" data-toggle="tab">@type.Fname</a></li>
    }
}
        </ul>
    </div>
    <div id="myTabContent" class="tab-content">

        @if (ViewData["types"] != null)
        {
            foreach (SelfhelpOrderMgr.Model.T_GoodsType type in ViewData["types"] as List<SelfhelpOrderMgr.Model.T_GoodsType>)
            {
                <div class="tab-pane fade in active" id="@type.Fcode">
                    <div class="row" >
                    @if (ViewData["goods"] != null)
                    {
                        foreach (SelfhelpOrderMgr.Model.T_Goods good in ViewData["goods"] as List<SelfhelpOrderMgr.Model.T_Goods>)
                        {
                            if(@good.GTYPE==@type.Fcode)
                            { 
                            <div class="col-md-2">
                                <div class="thumbnail">
                                    <img class="lazy" src="@good.src" width="300" height="150" data-src="http://static.bootcss.com/www/assets/img/gulpjs.png" alt="gulpjs">
                                    <div class="caption">
                                        <h3 style="height:70px;">
                                            @good.GDJ<br><small>@good.GNAME</small>
                                        </h3>
                                        <p style="text-align:center;">
                                            @*<button class="btn btn-primary" data-toggle="modal"
                                                    data-target="#myModal">
                                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" onclick="btnNumber('init','@good.GTXM')">购买商品</span>
                                            </button>*@
                                            
                                            <a class="btn btn-default" href="#" role="button" onclick="btnBuy('@good.GTXM|@good.GDJ|@good.GNAME')"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" >购买商品</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    }
                    </div>
            </div>
            }
        }
        
    </div>






    <!-- 模态框（Modal）数字键盘 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:265px;">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>

                </div>
                <div class="modal-body" style="height:350px;">
                    <div>
                        <input id="strGtxm" type="hidden" />
                        <input id="strPrice" type="hidden" />
                        <input id="strName" type="hidden" />
                        <label style="font-size:large;">数量</label>
                        <button type="button" class="btn btn-primary" style="font-size:x-large;" onclick="btnNumer('+')">+</button>
                        <input id="inumber" style="font-size:x-large; width:60px;" />
                        <button type="button" class="btn btn-primary" style="font-size:x-large; width:40px;" onclick="btnNumer('-')">-</button>
                    </div>
                    <div>
                        <a href="#" class="button button-glow button-rounded button-raised button-primary" onclick="btnNumer('OK')">确定</a>
                        <a href="#" class="button button-glow button-rounded button-highlight" onclick="btnNumer('Cancel')">取消</a>

                    </div>
                    <div class="col-md-12">
                        <span class="button-wrap">
                            <button class="button button-circle button-raised button-primary" onclick="btnNumer(1)">
                                1
                            </button>
                        </span>
                        <span class="button-wrap">
                            <button class="button button-circle button-raised button-primary" onclick="btnNumer(2)">
                                2
                            </button>
                        </span>
                        <span class="button-wrap">
                            <button class="button button-circle button-raised button-primary" onclick="btnNumer(3)">
                                3
                            </button>
                        </span>
                        <span class="button-wrap">
                            <button class="button button-circle button-raised button-primary" onclick="btnNumer(4)">
                                4
                            </button>
                        </span>
                        <span class="button-wrap">
                            <button class="button button-circle button-raised button-primary" onclick="btnNumer(5)">
                                5
                            </button>
                        </span>
                        <span class="button-wrap">
                            <button class="button button-circle button-raised button-primary" onclick="btnNumer(6)">
                                6
                            </button>
                        </span>
                        <span class="button-wrap">
                            <button class="button button-circle button-raised button-primary" onclick="btnNumer(7)">
                                7
                            </button>
                        </span>
                        <span class="button-wrap">
                            <button class="button button-circle button-raised button-primary" onclick="btnNumer(8)">
                                8
                            </button>
                        </span>
                        <span class="button-wrap">
                            <button class="button button-circle button-raised button-primary" onclick="btnNumer(9)">
                                9
                            </button>
                        </span>
                        <span class="button-wrap">
                            <button class="button button-circle button-raised button-primary" onclick="btnNumer('')">
                                清空
                            </button>
                        </span>
                        <span class="button-wrap">
                            <button class="button button-circle button-raised button-primary" onclick="btnNumer(0)">
                                0
                            </button>
                        </span>
                        <span class="button-wrap">
                            <button class="button button-circle button-raised button-primary" onclick="btnNumer(-1)">
                                删除
                            </button>
                        </span>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->

    </div><!-- /.container -->


    <!-- 我的订单明细记录 -->
    <div class="modal fade" id="myOrderList" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>

                </div>
                <div class="modal-body">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr><th></th><th>编号</th><th>品名</th><th>数量</th><th>金额</th><th>操作</th></tr>
                        </thead>
                        <tbody id="tbodyOrderList"></tbody>
                    </table>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->

    </div><!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript">


        //弹出式数字键盘，数量处理，商品购买的数量
        function btnNumer(e,g) {
            if (e == "") {
                $("#inumber").val('');
            } else if (e == "-1") {
                var ss = $("#inumber").val();
                $("#inumber").val(ss.substr(0, ss.length - 1));
            } else if (e == "+") {
                var ss = $("#inumber").val();
                var i = parseInt(ss);
                $("#inumber").val(i + 1);
            } else if (e == "-") {
                var ss = $("#inumber").val();
                var i = parseInt(ss);
                $("#inumber").val(i - 1);
            } else if (e == "init") {//初始化加载
                $("#inumber").val("1");
                $("#orderMoney").html("1000");
                $("#strGtxm").val(g);                
                //$("#orderMoney").val(g);
            } else if (e == "OK") {//
                $.post("/Home/AddOrderDetail", { "OrderId": $("#orderNumber").val(), "GTXM": $("#strGtxm").val(), "GCount": $("#inumber").val() }, function (data, status) {
                    if ("success" != status) {
                        return false;
                    } else {
                        //alert(data);
                        console.info(data);
                        var words = data.split(".");
                        if ("OK" == words[0]) {
                            //alert(data);
                            var iorderMoney = $("#orderMoney").html();
                            var inum = $("#inumber").val();
                            var iName = $("#strName").val();
                            var iGtxm = $("#strGtxm").val();
                            var iprice = $("#strPrice").val();
                            var imoney = parseFloat(iprice) * parseFloat(inum);
                            var iallMoney = imoney + parseFloat(iorderMoney);
                            $("#orderMoney").html(toDecimal2(iallMoney));
                            //var tbody = $("#tbodyOrderList");
                            //$("#tbodyOrderList").empty();
                            option = "<tr><td><input type='checkbox'></td><td>" + iGtxm + "</td><td>" + iName + "</td><td>" + inum + "</td><td>" + imoney + "</td><td><a class='btn btn-default btn-sm' href='#' role='button' onclick='btnDetailCancel('" + words[1] + "')'>删除</a></td></tr>";
                            $("#tbodyOrderList").append(option);
                            $('#myModal').modal('hide');
                        } else {
                            alert(data);
                        }
                    }
                });
                

                //$("#orderMoney").val(g);
            } else if (e == "Cancel") {//取消
                $("#inumber").val("1");
                $("#orderMoney").html("1000");
                $("#strGtxm").val(g);

                //$("#orderMoney").val(g);
            } else {
                $("#inumber").val($("#inumber").val() + e);
            }
        }

        $(function () {
            //$('#myModal').modal({
            //    keyboard: true
            //})

            $('#myModal').on('show.bs.modal', function () {
                $("#inumber").val("1");
                //$("#orderMoney").html('0.00');
            })
        });

        //点击购买时按钮
        function btnBuy(e) {
            var words = e.split("|");
            $("#strGtxm").val(words[0]);
            $("#strPrice").val(words[1]);
            $("#strName").val(words[2]);
            $('#myModal').modal('show');
        }

        //新增一个订单
        function btnAddOrder(e) {
            $.post("/Home/AddOrder", { "FCrimeCode": e }, function (data, status) {
                if ("success" != status) {
                    return false;
                } else {
                    var words=data.split(".")
                    if (data == "Error") {
                        alert(data);
                    } else {
                        $("#orderNumber").val(words[1]);
                        $("#orderMoney").html("0.00");
                    }
                }
            });

        }

        //显示我的订单明细记录
        function btnMyOrder(){
            $('#myOrderList').modal('show');
        }

        //制保留2位小数，如：2，会在2后面补上00.即2.00  
        function toDecimal2(x) {
            var f = parseFloat(x);
            if (isNaN(f)) {
                return false;
            }
            var f = Math.round(x * 100) / 100;
            var s = f.toString();
            var rs = s.indexOf('.');
            if (rs < 0) {
                rs = s.length;
                s += '.';
            }
            while (s.length <= rs + 2) {
                s += '0';
            }
            return s;
        }
    </script>
</body>
</html>