@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="60">@*实现定期刷新页面*@
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>后台管理系统</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div>
        <div class="row" id="topImage">
            <img src="/Content/images/MeetRecordManager.jpg" />
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">建阳监狱</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" id="topMenu">
                        @*<li><a href="/Message/Index">会见通知 <span class="sr-only">(current)</span></a></li>*@
                        @if (ViewData["CtrName"] != null)
                        {
                            switch (ViewData["CtrName"].ToString())
                            {
                                case "Message":
                                    {
                                        <li id="topMenu_01" class="active">@Html.ActionLink("会见通知", "Index", "Message")</li>
                                        <li id="topMenu_02">@Html.ActionLink("带犯管理", "Index", "BringCriminal")</li>
                                        <li id="topMenu_03">@Html.ActionLink("后台管理", "Index", "Admin")</li>
                                    } break;
                                case "BringCriminal":
                                    {
                                        <li id="topMenu_01">@Html.ActionLink("会见通知", "Index", "Message")</li>
                                        <li id="topMenu_02" class="active">@Html.ActionLink("带犯管理", "Index", "BringCriminal")</li>
                                        <li id="topMenu_03">@Html.ActionLink("后台管理", "Index", "Admin")</li>
                                    } break;
                                case "Admin":
                                    {
                                        <li id="topMenu_01">@Html.ActionLink("会见通知", "Index", "Message")</li>
                                        <li id="topMenu_02">@Html.ActionLink("带犯管理", "Index", "BringCriminal")</li>
                                        <li id="topMenu_03" class="active">@Html.ActionLink("后台管理", "Index", "Admin")</li>
                                    } break;

                            }
                        }
                        else
                        {
                            <li id="topMenu_01" class="active">@Html.ActionLink("会见通知", "Index", "Message")</li>
                            <li id="topMenu_02">@Html.ActionLink("带犯管理", "Index", "BringCriminal")</li>
                            <li id="topMenu_03">@Html.ActionLink("后台管理", "Index", "Admin")</li>
                            <li id="topMenu_03">@Html.ActionLink("窗口重排", "Index", "DoorCheck")</li>

                        }


                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">注册</a></li>
                        <li>@Html.ActionLink("登录", "Index", "Login")</li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    @*content-wrapper*@
    <div class="content-wrapper">
        @RenderBody()
    </div>




    <script src="/Scripts/jquery-1.11.3.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/MyJs/TopMenuSetting.js"></script>

</body>
</html>
