@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>总账清单</title>
    @{Html.RenderPartial("~/Views/Shared/_PartialHeadPage.cshtml");}

</head>
<body class="easyui-layout">
    <div data-options="region:'center',title:'总账清单'" style="padding:5px;">
        @*@{Html.RenderPartial("~/Views/Shared/_PartialXiaopiaoControl.cshtml");}*@
        <table id="test" data-options="toolbar:'#tb'"></table>

        <div id="tb">
            <div>
                @*FCheckFlag是“确认”,auditflag是“审核”,FdbcheckFlag是“复核”,Flag是“财务入账”*@

                <a href="javascript:void(0)" id="mb" class="easyui-menubutton"
                   data-options="menu:'#mm',iconCls:'icon-print'">打印报表</a>
                <div id="mm" style="width:150px;">
                    <div data-options="iconCls:'icon-man'" onclick="printMenuBtn(1)">按用户汇总总单</div>
                    <div data-options="iconCls:'icon-redo'" onclick="printMenuBtn(2)">按用户个人清单</div>
                    <div data-options="iconCls:'icon-man'" onclick="printMenuBtn(21)">罚金打印清单</div>
                    <div class="menu-sep"></div>
                    <div onclick="printMenuBtn(3)">按队别分类总单</div>
                    <div onclick="printMenuBtn(4)">按队别分类清单</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-sum'" onclick="printMenuBtn(5)">按存取类汇总总单</div>
                    <div data-options="iconCls:'icon-reload'" onclick="printMenuBtn(6)">按存取类型清单</div>
                    <div data-options="iconCls:'icon-search'" onclick="printMenuBtn(22)">按类型个人汇总清单</div>
                    <div data-options="iconCls:'icon-search'" onclick="printMenuBtn(25)">离监统计报表</div>
                    <div data-options="iconCls:'icon-search'" onclick="printMenuBtn(26)">个人账户余额清单</div>
                    <div class="menu-sep"></div>
                    <div onclick="printMenuBtn(7)">超市消费汇总表</div>
                    <div onclick="printMenuBtn(8)">明细记录清单</div>
                    <div onclick="printMenuBtn(20)">个人消费明细清单</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-sum'" onclick="printMenuBtn(9)">银行交易汇总报表</div>
                    <div data-options="iconCls:'icon-search'" onclick="printMenuBtn(10)">银行交易明细清单</div>
                    <div data-options="iconCls:'icon-search'" onclick="printMenuBtn(11)">银行每日交易报表</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-man'" onclick="printMenuBtn(12)">需离监冻结人员名单</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-sum'" onclick="printMenuBtn(13)">回款日银行交易汇总</div>
                    <div data-options="iconCls:'icon-search'" onclick="printMenuBtn(14)">回款日交银行易明细</div>
                    <div data-options="iconCls:'icon-search'" onclick="printMenuBtn(15)">银行回款日交易表</div>
                </div> <label>|</label>

                <a href="javascript:void(0)" id="mprint" class="easyui-menubutton"
                   data-options="menu:'#mp',iconCls:'icon-redo'">Excel导出数据</a>
                <div id="mp" style="width:150px;">
                    <div data-options="iconCls:'icon-man'" onclick="OutExcelSumOrder(1)">按用户汇总Excel</div>
                    <div data-options="iconCls:'icon-redo'" onclick="OutExcelSumOrder(2)">按用户个人Excel</div>
                    <div data-options="iconCls:'icon-man'" onclick="OutExcelSumOrder(21)">罚金Excel清单</div>
                    <div class="menu-sep"></div>
                    <div onclick="OutExcelSumOrder(3)">按队别分类Excel</div>
                    <div onclick="OutExcelSumOrder(4)">按队别分类Excel</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-sum'" onclick="OutExcelSumOrder(5)">按存取类汇总Excel</div>
                    <div data-options="iconCls:'icon-reload'" onclick="OutExcelSumOrder(6)">按存取类型Excel</div>
                    <div data-options="iconCls:'icon-search'" onclick="OutExcelSumOrder(22)">（两栏）个人汇总清单</div>
                    <div data-options="iconCls:'icon-search'" onclick="OutExcelSumOrder(23)">（两栏日期）个人汇总清单</div>
                    <div data-options="iconCls:'icon-search'" onclick="OutExcelSumOrder(24)">（一栏）个人汇总清单</div>
                    <div data-options="iconCls:'icon-search'" onclick="OutExcelSumOrder(26)">个人账户余额清单</div>
                    <div class="menu-sep"></div>
                    <div onclick="OutExcelSumOrder(7)">超市消费汇Excel</div>
                    <div onclick="OutExcelSumOrder(8)">明细记录Excel</div>
                    <div onclick="OutExcelSumOrder(20)">个人消费明细清单</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-sum'" onclick="OutExcelSumOrder(9)">银行交易汇总报表</div>
                    <div data-options="iconCls:'icon-search'" onclick="OutExcelSumOrder(10)">银行交易明细清单</div>
                    <div data-options="iconCls:'icon-search'" onclick="OutExcelSumOrder(11)">银行每日交易报表</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-man'" onclick="OutExcelSumOrder(12)">需离监冻结人员名单</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-sum'" onclick="OutExcelSumOrder(13)">回款日银行交易汇总</div>
                    <div data-options="iconCls:'icon-search'" onclick="OutExcelSumOrder(14)">回款日交银行易明细</div>
                    <div data-options="iconCls:'icon-search'" onclick="OutExcelSumOrder(15)">银行回款日交易表</div>
                </div> <label>|</label>



                <a href="javascript:void(0)" id="mbOpt" class="easyui-menubutton"
                   data-options="menu:'#mmOpt',iconCls:'icon-undo'">数据调整</a>
                <div id="mmOpt" style="width:150px;">
                    <div data-options="iconCls:'icon-cancel'" onclick="DeleteMenuBtn()">删除发放失败记录</div>
                </div>

            </div>
        </div>



        <div id="template"></div>
    </div>

    <div data-options="region:'east',title:'查询条件',split:true" style="width:300px;">
        <div data-options="region:'north',title:'North Title',split:true" style="height:200px;">
            <form method="post">
                <table id="crimeSearch">
                    <tr>
                        <th align="right">编号：</th>
                        <td align="left">
                            <input class="easyui-numberbox" id="FCode" name="FCode"
                                   data-options="min:0,precision:0" style="width:190px">
                        </td>
                    </tr>
                    <tr>
                        <th align="right">姓名：</th>
                        <td align="left">
                            <input id="FName" name="FName" class="easyui-textbox" style="width:190px">
                        </td>
                    </tr>
                    <tr>
                        <th align="right">处遇：</th>
                        <td align="left">
                            <select id="FCyName" name="FCyName" class="easyui-combobox" style="width:190px;">
                                <option value="" selected="selected">请选择</option>
                                @if (ViewData["cys"] != null)
                                {
                                    foreach (SelfhelpOrderMgr.Model.T_CY_TYPE cy in ViewData["cys"] as List<SelfhelpOrderMgr.Model.T_CY_TYPE>)
                                    {
                                        <option value="@cy.FCode">@cy.FName</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th align="right">开始时间：</th>
                        <td align="left">
                            <input class="easyui-datetimebox" id="StartDate" name="StartDate"
                                   data-options="required:true,showSeconds:false" value="3/4/2010 00:00" style="width:190px">
                        </td>
                    </tr>
                    <tr>
                        <th align="right">结束时间：</th>
                        <td align="left">
                            <input class="easyui-datetimebox" id="EndDate" name="EndDate"
                                   data-options="required:true,showSeconds:false" value="3/4/2010 23:59" style="width:190px">
                        </td>
                    </tr>
                    <tr>
                        <th align="right">队别：</th>
                        <td align="left">
                            <select id="FAreaName" name="FAreaName" class="easyui-combobox" style="width:190px;">
                                <option value="" selected="selected">请选择队别</option>
                                @if (ViewData["areas"] != null)
                                {
                                    foreach (SelfhelpOrderMgr.Model.T_AREA area in ViewData["areas"] as List<SelfhelpOrderMgr.Model.T_AREA>)
                                    {
                                        <option value="@area.FCode">@area.FName</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr><th>存/取款类型</th></tr>
                    <tr>
                        <th align="right">存：</th>
                        <td align="left">
                            <select id="FCashTypes" name="FCashTypes" class="easyui-combobox" data-options=" multiple:true" style="width:190px;">

                                @if (ViewData["cashtypes"] != null)
                                {
                                    foreach (string cashtype in ViewData["cashtypes"] as List<string>)
                                    {
                                        <option value="@cashtype">@cashtype</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th align="right">取：</th>
                        <td align="left">
                            <select id="FPayTypes" name="FPayTypes" class="easyui-combobox" data-options=" multiple:true" style="width:190px;">
                                @if (ViewData["paytypes"] != null)
                                {
                                    foreach (string paytype in ViewData["paytypes"] as List<string>)
                                    {
                                        <option value="@paytype">@paytype</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th align="right">操作员：</th>
                        <td align="left">
                            <select id="FCrtBy" name="FCrtBy" class="easyui-combobox" style="width:190px;">
                                <option value="" selected="selected">请选择</option>
                                @if (ViewData["crtbys"] != null)
                                {
                                    foreach (string crtby in ViewData["crtbys"] as List<string>)
                                    {
                                        <option value="@crtby">@crtby</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th align="right">在押状态：</th>
                        <td align="left">
                            <select id="FCriminalFlag" name="FCriminalFlag" class="easyui-combobox" style="width:190px;">
                                <option value="" selected="selected">请选择</option>
                                <option value="0">在押</option>
                                <option value="1">离监</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th align="right">资金账户：</th>
                        <td align="left">
                            <select id="FAccTypes" name="FAccTypes" class="easyui-combobox" data-options=" multiple:true" style="width:190px;">
                                <option value="0">存款账户</option>
                                <option value="1">报酬账户</option>
                                <option value="2">留存账户</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th align="right">扣款状态：</th>
                        <td align="left">
                            <select id="FBankFlags" name="FBankFlags" class="easyui-combobox" data-options=" multiple:true" style="width:190px;">
                                <option value="0">待发送</option>
                                <option value="1">发送中</option>
                                <option value="2">成功</option>
                                <option value="3">手动成功</option>
                                <option value="-1">失败</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th align="right">审核状态：</th>
                        <td align="left">
                            <select id="FCheckFlag" name="FCheckFlag" class="easyui-combobox" style="width:190px;">
                                <option value="-1">未配货</option>
                                <option value="0">待审核</option>
                                <option value="1">已审核</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th align="right">有效状态：</th>
                        <td align="left">
                            <select id="FFlags" name="FFlags" class="easyui-combobox" data-options=" multiple:true" style="width:190px;">
                                <option value="0" selected="selected">正常</option>
                                <option value="1">已删除</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th align="right">烛光卡：</th>
                        <td align="left">
                            <select id="CardTypeFlag" name="CardTypeFlag" class="easyui-combobox"  style="width:190px;">
                                <option value="" selected="selected">请选择</option>
                                <option value="0">无</option>
                                <option value="1">有</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th align="right">备注：</th>
                        <td align="left">
                            <input id="FRemark" name="FRemark" class="easyui-textbox" style="width:190px">
                        </td>
                    </tr>
                    <tr>
                        <th align="right"></th>
                        <td align="right"><a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="btnSearch()">查询</a><a id="A1" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-redo'" onclick="btnClear()">清空</a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    @*修改消费记录为调账取款*@
    <div>
        <div id="winChangeList" class="easyui-window" title="My Window" style="width:600px;height:400px"
             data-options="iconCls:'icon-save',modal:true">
            <div class="easyui-layout" data-options="fit:true">
                <div data-options="region:'north',split:true" style="height:150px">
                    <table>
                        <tr>
                            <th>流水号:</th>
                            <td><label id="tInvno"></label></td>
                            <th>编号:</th>
                            <td><label id="tFCrimeCode"></label></td>
                            <th>姓名:</th>
                            <td><label id="tFCriminal"></label></td>
                            <th>类型:</th>
                            <td>
                                <label id="tPType"></label>
                                <input id="tTypeFlag" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <th>日期:</th>
                            <td><label id="tOrderDate"></label></td>
                            <th>金额:</th>
                            <td><label id="tAmount"></label></td>
                            <th>变更类型:</th>
                            <td>
                                <select id="comChangeType" class="easyui-combobox" name="comChangeType" style="width:150px;">
                                    <option value="0">请选择修改类型</option>
                                    @if (ViewData["SaveType"] != null)
                                    {
                                        foreach (SelfhelpOrderMgr.Model.T_Savetype savetype in ViewData["SaveType"] as List<SelfhelpOrderMgr.Model.T_Savetype>)
                                        {
                                            <option value="@savetype.fcode"> @savetype.fname</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr><td colspan="6" align="right"><a id="btnChange" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="btnSaveChangeType()">确认调账</a> </td></tr>
                    </table>
                </div>
                <div data-options="region:'center'">
                    注意：本退款操作，适用于消费记录银行已经成功扣款，但未给货物的情况处理。如果您处理的数据是已发送到银行扣款了，更改后，请让财务部门给予存入相应的退款。
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/myJs/LodopFuncs.js"></script>

    <script src="~/Scripts/myJs/ReportIndex.js"></script>
</body>
</html>
